h1 {
    font: 3em Avenir, sans-serif;
    text-align: center;
}


table {
    margin:auto;
    font: 2em Avenir, sans-serif;
    width: 90vw;

    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    font: 1em Avenir, sans-serif;
    text-align: left;
    padding: 8px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

h1.welcome {
    font-color: blue;
}

div {
    margin: 0 auto;
}

button {
    margin:auto;
    background-color: blue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font:2em Avenir, sans-serif;
    display: flex;
    justify-content: center;
}
